@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/*-----start CSS Reset style------*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*-----End CSS Reset style------*/

/*------General------*/
.wrapper {
   font-family: 'Montserrat';
   font-style: normal;
   text-align: center;
}

/*------Header------*/
.header {
}
.header__menu {
   font-weight: 700;
   font-size: 18px;
   line-height: 18px;
   letter-spacing: 2.7px;
   text-transform: uppercase;
}
.header__menu-item{
   display: inline-block;
   margin: 25.5px 0 25.5px 72px;
}
.header__menu-item a{
   color: #FF0000;
}
.header__menu-item a:hover{
   color: gold;
}
.header__menu-item a:active{
   color: blue;
}
.header__menu-item:first-child{
   margin-left: 0px;
}
.header__menu-item:last-child{
   margin-left: 50px;
}
.header__photo img{
   width: 100%;
}

/*------Main content------*/
.main {
}
.main__title {
   margin: 48px 10px 10px 10px;
   font-style: normal;
   font-weight: 700;
   font-size: 22px;
   line-height: 27px;
   letter-spacing: 3.3px;
   text-transform: uppercase;
   color: #373737;
}
.main__text {
   margin: 28px 67.5px 0 67.5px;
   font-size: 16px;
   line-height: 26px;
   /* or 162% */
   letter-spacing: 2.4px;
   color: #373737;
}
.main__button {
   width: 191px;
   height: 51px;
   margin: 66px 10px 42px 10px;
   background: #FF0000;
   border-radius: 4px;
   font-weight: 700;
   font-size: 12px;
   line-height: 12px;
   /* or 100% */
   letter-spacing: 1.8px;
   text-transform: uppercase;
   color: #FFFFFF;
}
.main__button:active {
   background: blue;
}
.main__button:hover{
   color: gold;
}

/*------Footer------*/
.footer {
}
.footer__text {
   padding: 59px 105px 29px 0;
   font-weight: 700;
   font-size: 16px;
   line-height: 20px;
   text-align: right;
   letter-spacing: 2.4px;
   color: #373737;
}
